<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <title>Keepsake</title>
    <link rel="stylesheet" href="/css/style.css">


    <meta name="description" content="A social website crafting event · June 10, Singapore">

    <meta property="og:url" content="https://keepsake.hackclub.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Keepsake">
    <meta property="og:description" content="A social website crafting event · June 10, Singapore">
    <meta property="og:image" content="/assets/ogimg.png">
    <meta property="og:site_name" content="Hack Club">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="keepsake.hackclub.com">
    <meta property="twitter:url" content="https://keepsake.hackclub.com">
    <meta name="twitter:title" content="Keepsake · Hack Club">
    <meta name="twitter:description" contents="A social website crafting event · June 10, Singapore">
    <meta name="twitter:image" content="/assets/ogimg.png">

    <meta name="theme-color" content="#FCECF4">
  </head>
  <body>

    <div class="background">

    </div>


    <!-- <div id="background-wrapper">
      <img src="/assets/background/background0.png" alt="" style="left: 10%; top: -50px; transform: rotate(-8deg);">
      <img src="/assets/background/background1.png" alt="" style="right: -2%; top: 150px; transform: rotate(10deg)">
      <img src="/assets/background/background2.png" alt="" style="left: -5%; top: 480px; transform: rotate(17deg); width: 600px">
      <img src="/assets/background/background3.png" alt="" style="right: 8%; top: 550px; transform: rotate(-8deg); width: 600px">
    </div> -->

    <div id="cursor-beads-wrapper">
    </div>

    <div class="area one">
      <canvas id="title-3d" data-engine="three.js r158"></canvas>

      <p style="margin-top: -5vw;">a social website crafting event</p>
      <p>june 10 · 10am-6pm · singapore</p>

      <a href="#signup" id="signup-jump"><img src="/assets/beads/bead7.png" class="deco" alt="" style="width: 35px; top: 43%; left: -15px; transform: rotate(20deg)">sign up!<img src="/assets/beads/bead4.png" class="deco" alt="" style="width: 35px; top: 10%; right: -25px; transform: rotate(-20deg)"></a>
    </div>

    <div class="area two">
      <div class="card">
        <img src="/assets/beads/bead13.png" alt="">
        <h2>make a website 🌙</h2>
        <img src="/assets/deco/green washi.png" class="deco" alt="" style="width: 150px; top: -5%; right: -30px; transform: rotate(28deg)">
        <p>build something fun and cozy with our tutorial workshop! perfect for beginners.</p>
        <img src="/assets/beads/bead21.png" class="deco" alt="" style="width: 80px; top: 43%; left: -25px; transform: rotate(20deg)">

      </div>
      <div class="card">
        <img src="/assets/beads/bead0.png" alt="">
        <h2>get ice cream 🍨</h2>
        <img src="/assets/beads/bead16.png" class="deco" alt="" style="width: 80px; top: 25%; left: -55px; transform: rotate(-19deg)">
        <p>publish your website during the event to redeem ice cream — for free!</p>
        <img src="/assets/beads/bead3.png" class="deco" alt="" style="width: 70px; top: 40%; right: -35px; transform: rotate(19deg)">

      </div>
      <div class="card">
        <img src="/assets/beads/bead20.png" alt="">
        <h2>bring your friends 🎐</h2>
        <img src="/assets/beads/bead2.png" class="deco" alt="" style="width: 80px; top: -15%; left: 55px; transform: rotate(-8deg)">
        <p>hang out with your friends and make new friends who love to create things :)</p>
        <img src="/assets/deco/pink washi.png" class="deco" alt="" style="width: 150px; bottom: -30px; right: -40px; transform: rotate(-28deg)">
      </div>

    </div>


    <div class="area form">
      <div class="info">
        <h2>join us at keepsake!</h2>
        <p>keepsake is only for singapore pre-tertiary students (secondary/jc/poly)</p>
      </div>


      <div class="form content" id="signup">
        <img src="/assets/beads/bead22.png" class="deco" alt="" style="width: 100px; top: -80px; left: -80px; transform: rotate(-28deg)">

        <form class="" action="/signup" method="POST">
          <p>email*</p>
          <input type="email" name="email" placeholder="orpheus@hackclub.com" required>


          <p>full name*</p>
          <input type="text" name="fullname" placeholder="orpheus hackclubber the first" required>


          <div class="" style="display: flex; justify-content: space-between; gap: 25px;">
            <div class="" style="width:100%">
              <p>we should call you...*</p>
              <input type="text" name="preferredname" placeholder="orpheus" required>
            </div>
            <div class="" style="width:100%">
              <p>date of birth*</p>
              <input type="date" name="dob" placeholder="1 january 2025" required>
            </div>

          </div>



          <p>school*</p>
          <input type="text" name="school" placeholder="the cool school" required>
          <p>how did you find keepsake?</p>
          <input type="text" name="source" placeholder="instagram / slack / XX told me..." value="">

          <% if (errorMessage) { %>
            <div class="popup error"><%= errorMessage %></div>

          <% } %>

          <% if (success) { %>

          <div class="popup success">you're in, welcome! check your email for more information :)</div>

          <% } else { %>
            <div class="" style="display: flex; justify-content: center;">
              <input type="submit" name="" value="sign up! ➡️">
            </div>
          <% } %>





        </form>

        <div class="map">
          <p>location coming soon!</p>

        </div>

      </div>

    </div>


    <div class="area faq">
      <h2>frequently asked questions</h2>
      <details open>
        <summary>am i eligible to sign up?</summary>
        all secondary, jc, or poly students in singapore are eligible to participate in keepsake!
      </details>

      <details open>
        <summary>does participating cost anything?</summary>
        keepsake is completely FREE! thanks to the contributions of hack club and our generous sponsors, we will provide lunch, snacks, and even custom merch items :)
      </details>

      <details open>
        <summary>what if i don't know how to code?</summary>
        don't worry about it at all! keepsake is beginner-friendly — in fact, it's specifically catered to those who are new to coding. we'll teach you the basics, and we promise that you'll create something wonderful by the end of the event.
      </details>

      <details open>
        <summary>what do i need to bring?</summary>
        your laptop or tablet (with a keyboard), water to stay hydrated, a charger, and if you're feeling up to it, some snacks to share!
      </details>

      <details open>
        <summary>how can i reach out for more questions?</summary>
        contact us! send us an email at <a href="mailto:keepsake@hackclub.com" target="_blank">keepsake@hackclub.com</a>. we're always happy to answer your questions :)
      </details>



      <p style="text-align: center; margin-top: 24px; margin-bottom: 12px;">see you at keepsake!</p>



    </div>

    <footer>
      <p>made with ❤️ by teenagers, for teenagers at hack club</p>
      <p><a href="https://hackclub.com" target="_blank">hack club</a> · <a href="https://hackclub.com/slack" target="_blank">slack</a> · <a href="https://www.youtube.com/HackClubHQ" target="_blank">youtube</a></p>
    </footer>

    <div class="confetti-wrapper">

    </div>




    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.158.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.158.0/examples/jsm/"
        }
      }
    </script>
    <script type="module" src="/js/title.js"></script>
    <script type="text/javascript" src="/js/cursor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>

    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const errorPopup = document.querySelector('.popup.error');
        const successful = document.querySelector('.popup.success');

        if (errorPopup) {
          errorPopup.scrollIntoView({ behavior: 'smooth' });
        }


        if (successful) {
          successful.scrollIntoView({ behavior: 'smooth' });

          confetti({
            particleCount: 80,
            angle: 60,
            spread: 80,
            origin: { x: 0, y: 0.9 },
          });
          confetti({
            particleCount: 80,
            angle: 120,
            spread: 80,
            origin: { x: 1, y: 0.9 },
          });

        }
      });
    </script>

  </body>
</html>
