<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/icon.png">

    <title>Keepsake</title>
    <link rel="stylesheet" href="/css/style.css">


    <meta name="description" content="A social website crafting event · June 10, Singapore">

    <meta property="og:url" content="https://keepsake.hackclub.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Keepsake">
    <meta property="og:description" content="A social website crafting event · June 10, Singapore">
    <meta property="og:image" content="/assets/ogimg.png">
    <meta property="og:site_name" content="Hack Club">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="keepsake.hackclub.com">
    <meta property="twitter:url" content="https://keepsake.hackclub.com">
    <meta name="twitter:title" content="Keepsake · Hack Club">
    <meta name="twitter:description" contents="A social website crafting event · June 10, Singapore">
    <meta name="twitter:image" content="/assets/ogimg.png">

    <meta name="theme-color" content="#FCECF4">
  </head>
  <body>
    <div id="cursor-beads-wrapper">
    </div>

    <div class="area one">
      <canvas id="title-3d" data-engine="three.js r158"></canvas>
      <!-- <canvas id="juicebox" width="1200" height="1200" data-engine="three.js r158" style="width: 600px; height: 600px;"></canvas> -->
      <p>a social website crafting event · June 10 · Singapore</p>

      <p>make a website. get free ice cream. hang out with your friends.</p>


    </div>

    <div class="area two">
      <div class="card">
        <img src="/assets/beads/bead13.png" alt="">
        <h2>make a website 🌙</h2>
        <p>build something fun and cozy with our tutorial workshop! perfect for beginners.</p>
      </div>
      <div class="card">
        <img src="/assets/beads/bead0.png" alt="">
        <h2>get ice cream 🍨</h2>
        <p>ship your website during the event to redeem ice cream — for free!</p>
      </div>
      <div class="card">
        <img src="/assets/beads/bead20.png" alt="">
        <h2>bring your friends 🎐</h2>
        <p>hang out with your friends and make new friends who love to create things :)</p>
      </div>

    </div>


    <div class="area form">
      <div class="info">
        <h2>join us at keepsake!</h2>
        <p>keepsake is only for singapore pre-tertiary students (secondary/jc/poly)</p>
      </div>


      <div class="form content">
        <form class="" action="/signup" method="POST">
          <p>email*</p>
          <input type="email" name="email" placeholder="orpheus@hackclub.com" required>

          <div class="" style="display: flex; justify-content: space-between; gap: 25px;">
            <div class="" style="width:100%">
              <p>first name*</p>
              <input type="text" name="firstname" placeholder="orpheus" required>
            </div>
            <div class="" style="width:100%">
              <p>last name*</p>
              <input type="text" name="lastname" placeholder="hackclubber" required>
            </div>

          </div>


          <p>date of birth*</p>
          <input type="date" name="dob" placeholder="1 january 2025" required>
          <p>school*</p>
          <input type="text" name="school" placeholder="the cool school" required>
          <p>how did you find keepsake?</p>
          <input type="text" name="source" placeholder="instagram / slack / XX told me..." value="">

          <% if (errorMessage) { %>
            <div class="popup error"><%= errorMessage %></div>

          <% } %>

          <% if (success) { %>

          <div class="popup success">you're in, welcome! check your email for more information :)</div>

          <% } else { %>
            <div class="" style="display: flex; justify-content: center;">
              <input type="submit" name="" value="sign up! ➡️">
            </div>
          <% } %>





        </form>

        <div class="map">
          <p>June 10</p>
          <p>10am–6pm</p>
          <p>location TBA</p>

        </div>

      </div>

      <div class="schedule">

      </div>



    </div>

    <footer>
      <p>made with ❤️ by teenagers, for teenagers at hack club</p>
      <p><a href="https://hackclub.com" target="_blank">hack club</a> · <a href="https://hackclub.com/slack" target="_blank">slack</a> · <a href="https://www.youtube.com/HackClubHQ" target="_blank">youtube</a></p>
    </footer>

    <div class="confetti-wrapper">

    </div>




    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.158.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.158.0/examples/jsm/"
        }
      }
    </script>
    <script type="module" src="/js/title.js"></script>
    <script type="text/javascript" src="/js/cursor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>

    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const errorPopup = document.querySelector('.popup.error');
        const successful = document.querySelector('.popup.success');

        if (errorPopup) {
          errorPopup.scrollIntoView({ behavior: 'smooth' });
        }


        if (successful) {
          successful.scrollIntoView({ behavior: 'smooth' });

          confetti({
            particleCount: 80,
            angle: 60,
            spread: 80,
            origin: { x: 0, y: 0.9 },
          });
          confetti({
            particleCount: 80,
            angle: 120,
            spread: 80,
            origin: { x: 1, y: 0.9 },
          });

        }
      });
    </script>

  </body>
</html>
