:root {
  --lpink: #FCECF4;
  --dpink: #E69195;
  --green: #BCD093;
  --tgreen: #BCD093DD;
  --twhite: #ffffff99;
}
html, body {
  margin: 0;
  padding: 0;

}

body {
  background-color: var(--lpink);
  overflow-x: hidden;
  font-family: Quicksand, sans-serif;

  padding-bottom: 30px;
}

.area.one {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

#title-3d {
  /* background: transparent !important; */
  /* width: 100%; */
  /* max-width: 600px; */
  /* height: auto; */

}

.cursor-bead {
  position: absolute;
  transform-origin: center;

  height: 50px;
  z-index: -1;
}


p {
  font-size: 1.2em;
}


.area.two {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.area.two .card {
  position: relative;
  background-color: var(--twhite);
  padding: 25px 20px;
  border-radius: 25px;
  border: 4px dashed white;
  width: 27%;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s;
}

.area.two .card:hover {
  transform: rotate(-2deg);
}

.area.two img {
  width: 70%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.area.two h2, .area.two p {
  text-align: center;
  margin: 0;
}

.area.two h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}


.area.form {
  width: 80%;
  margin: 0 auto;
  margin-top: 48px;

  /* border: 4px solid #E9D1D6; */
  border-radius: 25px;
  padding: 25px 25px;
  box-sizing: border-box;

  text-align: center;

  background-color: var(--tgreen);

  /* background-color: #ffffff88; */
}

.area.form .info {
  margin-top: 8px;
  margin-bottom: 32px;
}
.area.form .info h2 {
  margin: 0;
  /* font-size: 1.2em; */
  font-weight: bold;
}

.area.form .info p {
  margin: 10px 0;
}


.area.form .content {
  display: flex;
}

.area.form .content > * {
  width: 50%;
}

.area.form form p {
  margin: 0;
  text-align: left;
}

.area.form form input {
  display: block;
  font-family: Quicksand, sans-serif;
  font-size: 1.2em;


}

.area.form form input[type="text"] {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid white;
  margin-bottom: 24px;
}

.area.form form input[type="submit"] {
  display: relative;
  background-color: white;
  border: none;
  /* border: 4px solid #D4EAFA; */
  border-radius: 10px;
  padding: 10px 25px;
  transition: 0.2s;
  /* border: 4px solid white; */
}

.area.form form input[type="submit"]:hover {
  /* border: 4px solid var(--dpink); */
  background-color: var(--lpink);
  /* color: white; */
  transform: rotate(-3deg);
  cursor: pointer;
}

.area.form form input[type="text"]:focus {
  outline: none;
  /* outline: 4px solid var(--dpink); */
  /* border-color: inherit; */
  /* border: none; */
  /* border: 4px solid white; */
  border-bottom: 4px dashed var(--lpink);
}

.area.form .map {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--twhite);
  /* border: 4px dashed white; */
  margin-left: 48px;
  border-radius: 10px;

}



footer {
  margin: 0 auto;
  text-align: center;
  padding: 32px 10px;
}
