@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root {
  --lpink: #FCECF4;

  --dpink: #E69195;
  --tdpink: #E69195DD;
  --green: #BCD093;
  --tgreen: #BCD093DD;
  --twhite: #ffffff99;
  --twhite2: #ffffffCC;
}
html {
  scroll-behavior: smooth
}

html, body {
  margin: 0;
  padding: 0;

}

body {
  background-color: var(--lpink);
  overflow-x: hidden;
  font-family: Quicksand, sans-serif;


  box-sizing: border-box;
  z-index: -100;
  height: 100%;
  width: 100%;
  background-image: url(/assets/background.png);
  /* background-image: url(/assets/background/bg0.png), url(/assets/background/bg1.png), url(/assets/background/bg2.png), url(/assets/background/bg3.png); */

  background-position:top;
  /* background-position:
    -5% -280px,
    120% 80px,
    -10% 350px,
    95% 580px; */
  background-repeat: no-repeat;
  opacity: 100%;
  /* background-size: 50vw; */
  background-size: cover;

  font-size: 1.2em;


  /* padding-bottom: 30px; */
}


.background {
  box-sizing: border-box;
  z-index: -100;
  height: 100%;
  width: 100%;
  /* background-image: url(/assets/background/bg0.png), url(/assets/background/bg1.png), url(/assets/background/bg2.png), url(/assets/background/bg3.png); */

  background-position:
    5% -30%,
    105% 20%,
    -5% 80%,
    95% 120%;
  background-repeat: no-repeat;
  opacity: 100%;
  background-size: 40vw;
  position: absolute;
}

.area {
  /* z-index: 5; */
}

.area.one {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 24px;
  text-align: center;
  box-sizing: border-box;
}

#title-3d {
  /* background: transparent !important; */
  /* width: 100%; */
  /* max-width: 600px; */
  /* height: auto; */

}

em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--dpink);
}

.cursor-bead {
  position: absolute;
  transform-origin: center;

  height: 50px;
  z-index: -1;
}


#background-wrapper {
  position: absolute;
  opacity: 30%;
  width: 100%;
  height: 100dvh;
  z-index: -1;
  overflow-x: hidden;
}

#background-wrapper img {
  position: absolute;
  width: 400px;
  transform-origin: center;

  z-index: -1 !important;
}

p, a, details {

}

a {
  color: var(--dpink);
  /* background-color: white; */
}

a:hover {
  /* background-color: var(--twhite); */
  text-decoration-style: wavy;
}


img.deco {
  position: absolute;
  z-index: 5;
}



.area.one p {
  margin: 8px 0;
}


#signup-jump {
  position: relative;
  color: black;
  background-color: var(--green);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 24px;
  font-size: 1.2em;
  transition: 0.2s;
  /* border: 4px dashed white; */
  font-weight: bold;
  animation: bounce 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite forwards;
}

#signup-jump:hover {
  color: black;
  background-color: white;
  border-color: var(--green);
  transform: rotate(-3deg);
  animation: bounce 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite forwards, sway 0.6s linear -0.3s infinite alternate;
  cursor: pointer;

}

@keyframes bounce {
  0% { top: 0; }
  50% { top: -8px; }
  100% { top: 0; }
}

@keyframes sway {
  0% { transform: rotate(-5deg);}
  100% {transform: rotate(5deg); }
}

.area.two {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
}

.area.two .card {
  position: relative;
  background-color: var(--twhite2);
  padding: 25px 20px;
  border-radius: 25px;
  border: 4px dashed white;
  width: 32%;

  box-sizing: border-box;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s;
}

.area.two .card:hover {
  transform: rotate(-2deg);
}

.area.two img {
  width: 70%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.area.two h2, .area.two p {
  text-align: center;
  margin: 0;
}

.area.two h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}


.area.form {
  width: 80%;
  margin: 0 auto;
  margin-top: 48px;

  border: 4px dashed var(--green);
  border-radius: 25px;
  padding: 25px 25px;
  box-sizing: border-box;

  text-align: center;

  background-color: var(--tgreen);


}

.area.form .info {
  margin-top: 8px;
  margin-bottom: 32px;
}
.area.form .info h2 {
  margin: 0;
  /* font-size: 1.2em; */
  font-weight: bold;
}

.area.form .info p {
  margin: 10px 0;
}


.area.form .content {
  position: relative;
  display: flex;
  gap: 48px;
}

.area.form .content > * {
  width: 50%;
}

.area.form form {
  display: flex;
  flex-flow: column;

  justify-content: center;
}

.area.form form p {
  margin: 0;
  text-align: left;
}

.area.form form input {
  display: block;
  font-family: Quicksand, sans-serif;
  font-size: inherit;


}

.area.form form input[type="text"], .area.form form input[type="date"], .area.form form input[type="email"]{
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid white;
  margin-bottom: 24px;
  padding-left: 0;
  color: black;
}

input[type="text"]::placeholder, input[type="date"]::placeholder, input[type="email"]::placeholder {
  color: #00000066;
}

.area.form form input[type="submit"] {
  display: relative;
  background-color: white;
  border: none;
  /* border: 4px solid #D4EAFA; */
  border-radius: 10px;
  padding: 10px 25px;
  transition: 0.2s;
  color: black;
  /* border: 4px solid white; */
}

.area.form form input[type="submit"]:hover {
  /* border: 4px solid var(--dpink); */
  background-color: var(--lpink);
  /* color: white; */
  transform: rotate(-3deg);
  cursor: pointer;
}

.area.form form input[type="text"]:focus, .area.form form input[type="date"]:focus, .area.form form input[type="email"]:focus {
  outline: none;
  border-bottom: 4px dashed var(--lpink);
}

.area.form .map {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--twhite);
  border: 4px dashed white;
  box-sizing: border-box;

  border-radius: 10px;

}

.popup.error {
  border: 4px solid var(--dpink);
  background-color: var(--dpink);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.popup.success {
  border: 4px solid var(--twhite);
  background-color: var(--twhite);
  /* color: white; */
  padding: 10px 25px;
  border-radius: 10px;
  margin-bottom: 24px;
}


.area.faq {
  /* width: 80%;
  margin: 0 auto; */

  width: 80%;
  margin: 0 auto;
  margin-top: 48px;

  border: 4px dashed var(--dpink);
  border-radius: 25px;
  padding: 25px 25px;
  box-sizing: border-box;
/*  */
  /* text-align: center; */

  background-color: var(--twhite2);
}


.area.faq h2 {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: bold;
}

details {
  margin: 12px 0;
  margin-bottom: 18px;
}

summary {
  font-weight: bold;
  margin-bottom: 12px;
}



footer {
  margin: 0 auto;
  text-align: center;
  padding: 32px 10px;
  background-color: var(--twhite2);
  margin-top: 30px;
}

footer p {
  margin: 12px 0;
}


.make-col {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}


@media(max-width: 600px) {
  body {
    background-image: url(/assets/background_mobile.png)
  }
  .area.two {
    flex-flow: column;
  }


  .area.two .card {
    width: 100%;
  }


  .area.form {
    width: 95%;
    margin: 0 auto;
    margin-top: 48px;
  }


  .area.form .content {
    flex-flow: column;
  }

  .area.form .content > * {
    width: 100%;
  }

  .area.form .map {
    margin: 0;
  }

  .area.faq {
    width: 95%;
    margin: 0 auto;
    margin-top: 48px;
  }

  .make-col {
    flex-flow: column;
    gap: 0;
  }
}
